@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Baloo Bhai 2', cursive;
}
h1{
    height: 100px;
    width: 100%;
    background: red;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn_container{
    margin-top: 50px;
}
.bulb_btn{
    font-family: 'Baloo Bhai 2', cursive;
    margin-top: 15%;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background: red;
    font-size: 20px;
    color: #ffffff
}

#bulb{
    margin-top: 10%;
}